<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <!-- gh-pages likes to cache for 24h, let's disable that -->
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Thu, 01 Jan 1970 13:37:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />
  <title>NodeBots - The Rise of JS Robotics</title>
  <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="img/favicon.png" >
  <link rel="stylesheet" media="screen" href="css/main.css" >
</head>
<body>
  <header id="header">

    <div class="nodebot">
      <div class="icon">
        <div class="bobble"></div>
        <div class="antenna"></div>
        <div class="head">
          <div class="eye left"></div>
          <div class="eye right"></div>
        </div>
        <div class="neck"></div>
        <div class="neck"></div>
      </div>
    </div> <!-- end nodebot -->

    <h1><a href="/">NodeBots</a></h1>
    <h2>Robots powered by JavaScript</h2>

    <a class="credit" href="https://twitter.com/cwaring">Photo: Chris Waring</a>
  </header>

  <div class="content">
    <p>
  Así es... si tienes algo de experiencia en JavaScript, puedes usar tus poderes para controlar máquinas.
  Desde <a title="Das Blinkenlight" href="http://instagram.com/p/cFVNtmJxlc/">hacer parpadear un led</a>
  hasta <a href="https://github.com/jurasec/johnny-five-guide/blob/master/example/WirelessNodeBotZumoArrows.js">manejar un carrito</a>,
  <a href="http://www.youtube.com/watch?v=6NYyGC-wZKU">jugar con tu gato de manera remota :-]</a>,
  y <a href="https://www.youtube.com/watch?v=gucpgJEJ5b4#t=215">torear a un quadcopter...</a>
</p>

<p>
  <img src="img/equation.png" alt="JS + Hardware = NodeBots"/>
</p>

<p>Alrededor del mundo, existen eventos donde las personas se reunen para hackear Arduinos, Raspberry Pis, NodeCopters, robots y otros artefactos.</p>
<p>Si no tienes idea de como usar un LED, no te preocupes, ese día habrán personas que puedan ayudarte a entender que es y como puede ser programado.</p>
<p>Pretendemos tener un taller, en la cual construiremos un pequeño carrito usando Node, Arduino y Johnny-Five.</p>

<h2>Lugar del evento</h2>
<p>San Luis Potosí 211 Piso 8 Col.Roma CP06760 entre Medellin e Insurgentes, muy cerca de la estación de metrobús Sonora. <a href="#mapa">Mapa</a></p>

<h2>Agenda</h2>
<ul>
  <li>9:00 - 9:30    Conocernos un poco, saludar</li>
  <li>9:30 - 9:45    Introducción al evento y la comunidad</li>
  <li>9:45 - 10:00   Makey Makey, divertido para chicos y grandes!</li>
  <li>10:00 - 10:45  Tessel: Full JavaScript</li>
  <li>10:45 - 11:05  Monitor de consumo eléctrico</li>
  <li>11:05 - 11:50  Arduino + Johnny-Five</li>
  <li>11:50 - 12:00  Break</li>
  <li>12:00 - 13:30  Talleres</li>
  <li>13:30 - 14:00  Foto grupal</li>
</ul>

<h2>Conferencistas</h2>

<p><img src="img/team/AMP200x200.png"/></p>
<p><h3 class="conferencista">Alex Mercado <a href="https://www.twitter.com/alexmarket">(@alexmarket)</a></h3><p>
<p>Director de <a href="https://www.twitter.com/KMMXmx">(@KMMXmx)</a>, Adobe Certified Instructor, PHP Zend Certified Engineer y SAP ABAP Developer. Creador y primer coordinador el Diplomado en Diseño Web en la DGSCA, UNAM. Alex es Appcelerator Titanium Certified Expert. Entusiasta del movimiento DIY</p>
<p><img src="img/team/Siedrix200x200.png"/></p>
<p><h3 class="conferencista">Daniel Zavala <a href="https://www.twitter.com/Siedrix">(@Siedrix)</a></h3></p>
<p>Ex <a href="https://www.twitter.com/mejorandola">@mejorandola</a> y @breezi, Organizador del Super Happy Dev House Mexico City y <a href="https://www.twitter.com/Chela_js">@Chela_js</a>. Hacker de corazón. Ha participado como expositor en eventos importantes como <a href="https://www.twitter.com/jsconf">@JSConf</a></p> 
<p><img src="img/team/IanMendoza200x200.png"/></p>
<p><h3 class="conferencista">Ian Meza <a href="https://www.twitter.com/iMz69">(@iMz69)</a></h3></p>
<p>Ingeniero en comunicaciones y electrónica, interesado en la electrónica de consumo, el hardware y el software libre y entusiasta del Raspberry Pi. Creo en la ingeniería creativa para dar soluciones innovadoras.</p>
<p><img src="img/team/Jurasec200x200.png"/></p>
<p><h3 class="conferencista">Julio César Rodríguez <a href="https://www.twitter.com/_Jurasec">(@_Jurasec)</a></h3><p>
<p>Gerente de desarrollo de middlewares en Afianzadora Aserta, amante de la creación de arte interactiva, gusto por las nuevas tecnologías y también gamer. Disfruta dedicar gran parte de su tiempo libre a la creación de Nodebots, interesado en la domotica. Ha participado en <a href="https://www.twitter.com/Chela_js">(@Chela_js)</a>, compartiendo sobre nodebots.</p>

<h2>Obtén tu boleto</h2>
<!--a href="https://www.eventbrite.com/e/nodebots-day-tickets-12246899807?ref=ebtn" target="_blank"><img src="https://www.eventbrite.com/custombutton?eid=12246899807" alt="Eventbrite - NodeBots Day" /></a-->
<div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=12246899807&ref=etckt" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" href="http://www.eventbrite.com/r/etckt">Sell Tickets</a> <span style="color:#ddd;">through</span> <a style="color:#ddd; text-decoration:none;" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>

<h2>Grupo en Meetup</h2>
<p>Únete al grupo de Meetup <a href="http://www.meetup.com/NodeBotsMX/" target="_blank">aquí</a></p>

<h2 id="events">International NodeBots Day</h2>
<p><strong>26/27 July 2014</strong> - <a href="https://github.com/nodebots/nodebotsday">Celebrando "NodeBots Day" en este 2014.</a>
  <br/>Nos uniremos juntos en todo el mundo para crear y aprender.</p>
<p>NodeBots Day no es un "hackathon". No habrá premios (pero si alguien quiere patrocinar alguno, es bienvenido :-]) distintos a la satisfacción de hacer algo impresionante!. Vamos a reunirnos, colaborar y hackear. El tema central del NodeBots Day está en compartir y disfrutar de la compañía mutua. Y JavaScript. Un montón de JavaScript.</p>
<p>Para mantenerte actualizado sobre este evento, por favor siguenos en twitter <a href="https://twitter.com/NodeBotsMX">@NodeBotsMX</a>,  <a href="https://twitter.com/nodebotsday">@nodebotsday</a>, si quieres ser parte de este evento como patrocinador, contactar vía email a jurasec@gmail.com ó vía twitter @_Jurasec.</p>

<h2>If you aren't from Mexico, find a meetup near you</h2>

</div> <!-- close .content, so make can use full width -->
<a name="mapa"></a>
<div class="map" id="map"></div>
<div class="content">

<ul>
  <li>
    <a href="http://nodebotsgt.tumblr.com/">NodeBots Guatemala</a> - Guatemala
  </li>    
  <li>
    <a href="http://nodebotsmed.tumblr.com/">NodeBots Medellín</a> - Colombia
  </li>
  <li>
    <a href="http://www.meetup.com/VillavicencioJS/">NodeBots Villavicencio</a> - Colombia
  </li>
  <li>
    <a href="http://www.meetup.com/NodeBots-of-London">NodeBots of London</a> - UK
  </li>
  <li>
    <a href="http://www.meetup.com/Nodebots-Paris">Les NodeBots de Paris</a> - FR
  </li>
  <li>
    <a href="http://www.meetup.com/nodebots/">NodeBots NYC</a> - USA
  </li>
  <li>
    <a href="http://lanyrd.com/2013/nodebotssf/">NodeBots SF</a> - USA
  </li>
</ul>

<h2>Iniciando con Node y Johnny-Five</h2>
<p>Instalar <a href="http://nodejs.org/">Node.js</a> y descarga el módulo de <a href="https://github.com/rwldrn/johnny-five">johnny-five</a>.
  Necesitarás una placa Arduino con el sketch de Firmata cargado, lo cual es <a href="http://www.geekytime.net/arduino/como-iniciar-con-arduino-y-johnny-five/">muy fácil de hacer</a>.
  Después de tener tu Arduino con Firmata correctamente cargado, ya puedes iniciar a hackear tu Arduino como campeón!. NodeBots hace que el proceso de programación del hardware sea muy similiar a la programación de una página web moderna. En serio, es muy fácil!.
</p>
<script src="https://gist.github.com/voodootikigod/5374512.js"></script>
<video controls>
  <source src="http://dl.dropbox.com/u/3531958/led-strobe.mp4">
  <source src="http://dl.dropbox.com/u/3531958/led-strobe.ogv">
  <source src="http://dl.dropbox.com/u/3531958/led-strobe.webm">
</video>

<p></p>
<p>Incluso, si no tienes un Arduino a la mano, puedes iniciarte utilizando <a href="https://www.npmjs.org/package/nodebot-workshop">nodebot-workshop</a> el cual, es un módulo de node que te enseña lo básico de Johnny-Five, a través de una serie de retos:
  <a href="https://www.npmjs.org/package/nodebot-workshop"><img src="https://raw.githubusercontent.com/tableflip/nodebot-workshop/master/screenshot.png" alt=""/></a>
</p>

<h2>¿De dónde viene NodeBots?</h2>
<p>
  El concepto de NodeBots surgió inicialmente con el creciente interés por la creación y manipulación de hardware dentro de la comunidad emprendedora de node js.
</p>
<p>
  <a href="http://twitter.com/voodootikigod">Chris Williams</a> es el creador del módulo conocido como node-serialport, el cual permite a los programadores de JS controlar y dirigir el mundo físico. Desde entonces, el hardware ha sido el punto principal de cada conferencia de JS (JSConf), maravillando audiencias con cualquier cosa, desde maquinas de humo (usadas comunmente en los antros) hasta robots que caminan.
  <strong>Hoy es el momento para que cualquiera pueda iniciarse. Now is time for the rise of JS Robotics.</strong>
</p>

<h2>Nuestros patrocinadores !!!</h2>
<p>
  <a href="http://hacedores.com/"><img src="img/hacedores.png" alt="hacedores.com"/></a>
</p>
<p>
  <a href="http://kmmx.mx/"><img src="img/kmmx.png" alt="kmmx.mx"/></a>
</p>
<p>
  <a href="http://www.330ohms.com/"><img src="img/330ohms.png" alt="330ohms.com"/></a>
</p>
<p style="text-align:center">
  <a href="https://twitter.com/AbrahamOrtiz13">Abraham Ortiz (@AbrahamOrtiz13)</a>
</p>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>
  var map = L.map('map', {
    scrollWheelZoom: false
  }).setView([25, 0], 2)

  L.tileLayer("http://{s}tile.stamen.com/toner/{z}/{x}/{y}.png", {
    "minZoom":      0,
    "maxZoom":      20,
    "subdomains":   ["", "a.", "b.", "c.", "d."],
    "scheme":       "xyz"
  }).addTo(map)

  var meetups = [
    //        lat     lng
    {coords:[  51.49, -0.093], name: "NodeBots of London", url: "http://www.meetup.com/NodeBots-of-London"},
    {coords:[  40.48, -72.74], name: "NodeBots NYC", url: "http://www.meetup.com/NodeBots-of-London"},
    {coords:[  30.26, -97.74], name: "NodeBots Austin", url: "https://ti.to/austin-nodebots/nodebots-day-2014"},
    {coords:[   6.23, -75.57], name: "NodeBots Medellín", url: "http://nodebotsmed.tumblr.com/"},
    {coords:[ -33.92,  18.42], name: "NodeBots Cape Town", url: "https://twitter.com/nodebotscpt"},
    {coords:[ -27.47, 153.02], name: "NodeBots Brisbane", url: "http://www.eventbrite.com.au/e/brisbanes-international-nodebots-day-tickets-12120977169"},
    {coords:[  37.77,-122.41], name: "NodeBots SF", url:"http://lanyrd.com/2013/nodebotssf/"},
    {coords:[  36.85, -76.28], name: "Norfolk.js", url:"http://www.meetup.com/NorfolkJS/events/187172562/"},
    {coords:[  29.76, -95.36], name: "NodeBots Houston, TX", url:"https://ti.to/houstonjs/nodebotsday"},
    {coords:[  36.16,-115.13], name: "NodeBotsLas Vegas, MV (Meowada)", url:""},
    {coords:[  25.78, -80.20], name: "NodeBots Miami/Fort Lauderdale, FL", url:"http://www.meetup.com/NodeJS-Enthusiasts-SE-Florida/events/182676152"},
    {coords:[  45.52,-122.67], name: "PDXNode, Portland, OR", url:"http://www.pdxnode.org/"},
    {coords:[  33.44,-112.07], name: "NodeBots Phoenix/Mesa, AZ", url:""},
    {coords:[  42.35, -71.05], name: "NodeBots Boston", url:"https://ti.to/bocoup/nodebotsday-2014"},
    {coords:[  38.90, -77.03], name: "NodeBots DC", url:"https://ti.to/nodebots-dc/nodebots-day-2014"},
    {coords:[  45.42, -75.69], name: "Ottawa.js, ON", url:"https://github.com/ottawajs/nodebots"},
    {coords:[  15.78, -90.23], name: "NodeBots Guatemala, GT", url:"http://nodebotsgt.tumblr.com/"},
    {coords:[   4.59, -74.07], name: "NodeBots Bogotá, CO", url:""},
    {coords:[ -23.55, -46.63], name: "NodeBots São Paulo, SP", url:""},
    {coords:[  19.4130738, -99.1653507], name: "NodeBots Distrito Federal, México", url:""},
    {coords:[  48.85,   2.35], name: "Les NodeBots de Paris", url:"http://www.meetup.com/Nodebots-Paris"},
    {coords:[ -37.81, 144.96], name: "NodeBots Melbourne, Australia", url:"http://www.eventbrite.com.au/e/nodebots-day-melbourne-july-2014-tickets-12121105553"},
    {coords:[ -33.86, 151.20], name: "NodeBots Sydney, Australia", url:"https://ti.to/nbdau/nodebots-sydney-2014"},
    {coords:[   4.15, -73.63], name: "NodeBots Villavicencio", url:"http://www.meetup.com/VillavicencioJS/"}
  ]

  meetups.map(function (m) {
//    var marker = L.marker(m.coords)
    var marker = L.circleMarker(m.coords, {
      radius:12,
      weight:1,
      color: '#000',
      fillColor: '#F8E01E',
      fillOpacity: 0.8
    })
    var text = m.url ? '<a href="' + m.url + '">' + m.name + '</a>' : m.name
    marker.bindPopup(text)
    map.addLayer(marker)
    return marker
  })
</script>
  </div>

  <footer id="footer">
    <div class="badges">
      <!-- <a class="github" href="https://github.com/nodebots" title="Code on GitHub"></a> -->
      <a class="twitter" href="https://twitter.com/NodebotsMX" title="News on Twitter"></a>
    </div>
  </footer>
</body>
</html>
